.App {
  text-align: center;
  position:relative;
}

h1, h2, h3, h4 {
  font-family:var(--primaryFont);
  font-size: 30px;
}
p, li {
  font-family:var(--secondaryFont);
  text-align: justify;
  padding-right: 10px;
}