.App {
  text-align: center;
  position:relative;
  min-height:100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family:var(--primaryFont);
  font-size: 30px;
}
h2, h3, h4, h5, h6 {
  margin:20px 0;
}
p, li {
  font-family:var(--thirdFont);
  font-weight:lighter;
}