.article-container {
  margin: 0 auto;
  padding-bottom: 10vh;
  background-color: white;
}

.article-container .banniere, .article-presentation{
  width: 100%;
}

.article-container .banniere {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.article-container .article-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:15px;
}

.article-container .article-details p {
  margin-right: 25px;
}

.article-details .picto-container {
  background-position:center;
  background-size:cover;
  width:15px;
  height:15px;
  margin-right:5px;
  display:inline-block;
  margin-top:4px;
}

.author-container, .category-container, .published-container {
  display: flex;
}

.article-container .introduction-text {
  text-align: left;
  font-style:italic;
}

.article-container .article-content {
  text-align: left;
}

.article-container .article-content img {
  width: 100%;
  margin: auto;
  height: auto;
}


@media only screen and (min-width: 992px) {
  .article-container .article-content img {
    width: auto;
  }
}
@media only screen and (max-width:600px) and (orientation:portrait) {
  .article-container .article-details {
    flex-direction:column;
  }
  .page-article h1 {
    font-size:23px;
  }
  .page-article {
    padding-top:10vh;
  }
}