.compte-page {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form-compte {
  background-color: white;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0px 10px -3px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-top: 5vh;
  padding: 30px;
}

.form-compte h1 {
  justify-self: flex-start;
  margin-bottom: 50px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-compte input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-connexion {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eb2f06;
  border-radius: 10px;
}

.btn-connexion {
  background-color: #eb2f06;
  border-radius: 28px;
  border: 1px solid #eb2f06;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px black;
}
.btn-connexion:hover {
  background-color: white;
  color: #eb2f06
}
.btn-connexion:active {
  position: relative;
  top: 1px;
}
