.footer-container {
    width:100%;
    position:absolute;
    bottom:0;
    height:10vh;
    background-color:white;
    z-index: 999999;
    padding-top: 100px;
}
.footer-container .footer-element {
    width:25px;
    height:25px;
    border:1px solid #828282;
    margin:0 10px 0 10px;
    background-position:center;
    background-size:60%;
    background-repeat:no-repeat;
    transition:all 0.2s ease-in-out;
}
.footer-container .footer-element:hover {
    background-color:#efefef;
}

.footer-container .footer-socials {
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 0 auto;
}

.footer-links {
    margin: 16px auto;
}
.footer-links a.footer-link {
    color: #828282;
    margin-right: 8px;
}

