.homepage-articles-container{
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

.more{
    margin: 10px;
    border: solid 1px #008d36;
    border-radius: 15px;
    background-color: #008d36;
    margin-bottom: 50px;
}

.more p{
    color: #fff;
    margin: 5px;
}

.more:hover{
    background-color: #fff;
    color: #008d36;
}

.more p:hover{
    color: #008d36;
}