body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-title h1, h2, h3, h4 {
  font-family:var(--primaryFont);
  font-size: 30px;
}



.carousel-button {
  border-radius: 15px;
  border: none;
  background-color: rgba(150, 245, 7, 0.781);
  width: 200px;
  font-size: 1.1em;
}
