.recipe-container {
    width:100%;
    padding:20px;
    max-width:900px;
    margin:0 auto;
    text-align:left;
    padding-bottom:10vh;
}
.recipe-container .recipe-title {
    color:var(--accentColor);
    text-align:center;
    position:relative;
    display:block;
}
.recipe-container .reciper-banner-image {
    width:100%;
    height:300px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.recipe-container .recipe-title::before {
    position: relative;
    content: '';
    width: 20px;
    margin-right: 15px;
    height: 1px;
    background-color: var(--accentColor);
    display: inline-block;
    top: -10px;
}
.recipe-container .recipe-title::after {
    position: relative;
    content: '';
    width: 20px;
    margin-left: 15px;
    height: 1px;
    background-color: var(--accentColor);
    display: inline-block;
    top: -10px;
}
.recipe-container .recipe-info {
    width: 100%;
    /* background-color: #efefef; */
    background-color:#acb1ff;
    display: flex;
    align-items: center;
    padding:10px;
    justify-content:space-between;
    border-radius: 15px;
}
.recipe-container .recipe-info p {
    margin-right:15px;
}
.recipe-container .publication-info {
    display:flex;
    padding:20px 0;
}
.recipe-container .publication-info .picto-container {
    background-position:center;
    background-size:cover;
    width:15px;
    height:15px;
    margin-right:5px;
    display:inline-block;
    margin-top:18px;
}
.recipe-container .recipe-info .picto-container {
    background-position:center;
    background-size:cover;
    width:15px;
    height:15px;
    margin-right:5px;
    display:inline-block;
}
.recipe-container .recipe-info .picto-info-container {
    display:flex;
    align-items:center;
}
.recipe-container .publication-info .picto-container:nth-of-type(2), .recipe-container .publication-info .picto-container:nth-of-type(3) {
    margin-left:20px;
}