.recipes-page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width:960px;
  margin: 0 auto;
  padding: 40px 0 80px 0;
}
.btn-link:hover {
  text-decoration:none;
}

.btn-search {
  margin-top: 40px !important;
}

