.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form-login {
  background-color: white;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 0px 10px -3px rgba(0,0,0,0.50);
  border-radius: 6px;
  margin-top: 5vh;
  padding: 30px;
}

.form-login h1 {
  justify-self: flex-start;
  margin-bottom: 50px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-login input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-login .btn {
  width: 100%;
  margin-top: 10px;
  background-color: grey;
}

.remember-forget-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  
}

.remember-label {
  display: flex;
  flex-direction: row;
  min-width: 90%;
  margin-left: 10px;
}

input[type='checkbox'].remember-checkbox {
  width: 18px;
}

.forget {
  margin-top: 45px;
}

.forget:hover {
  color: #0d7ae0;
}