/*vue portable */
.hidden {
  display:none;
}

.recherche-container {
  padding-top: 5vh;
}

.my-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.search-block label {
  font-weight:bold;
  margin-bottom:20px;
}
.my-search label p {
  margin:0px;
}

.my-search input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom:30px;
  border:0px;
  border-bottom:1px solid var(--inputColor);
  text-align:left;
  background-color:transparent;
}

.Loupe .filter-list img {
  margin-left: 3px;
  height: 10px;
}
input {
  background-color:transparent;
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.showAdvancedSearch-search-container p {
  color: #212529;
  font-weight: bold;
} 
.css-1rhbuit-multiValue {
  background-color:var(--accentColor)!important;
  color:white;
}
.css-12jo7m5 {
  color:white!important;
}
.label p {
  margin-top: 7px;
  margin-right: 5px;
}

.Loupe img {
  height: 15px;
  margin-right: 10px;
}

.Loupe {
  width: 100%;
  margin: 0 auto;
}

.search-field {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding:50px;
  box-shadow:0 0 7px rgba(0,0,0,0.1);
}

.btn-search {
  padding: 5px;
  background-color: var(--accentColor);
  color: #fff;
  font-weight: 500;
  width: 200px;
  outline-style: none;
  border: 0;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  opacity:0.8;
}
.css-xb97g8:hover {
  background-color:transparent!important;
  color:black!important;
}
.btn-search:hover {
  opacity:1;
}
.no-result {
  color:#424242;
  margin-top:50px;
}
.Loupe h2 {
  margin: 0 auto;
  margin-right: 10px;
  margin-bottom:5vh;
}

.Loupe h2::before {
  position: relative;
  content: "";
  width: 50px;
  margin-right: 15px;
  margin-top: 3px;
  height: 1px;
  background-color: var(--accentColor);
  display: inline-block;
  top: -7px;
}
.Loupe h2::after {
  position: relative;
  content: "";
  width: 50px;
  margin-left: 15px;
  height: 1px;
  background-color: var(--accentColor);
  display: inline-block;
  top: -7px;
}

.filter-name {
  background-color: rgba(206, 200, 200, 0.863);
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 3px 6px 8px 3px;
  padding: 0 0 3px 9px;
}

.result .filter-recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.results-title {
  width:100%;
  margin-top:50px;
}
.showAdvancedSearch-search-container .input-label-container:nth-last-child(1) {
  margin-bottom:40px;
}
.input-label-container {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:flex-start;
}
input#calories {
  width:100%;
  border:0px;
  border-bottom:1px solid var(--inputColor);
  border-radius:0px;
}
.advanced-search-label {
  margin-bottom:0px;
  margin-top:20px;
}

.no-results-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 360px) {
  .btn-search {
    width: 160px;
    margin: 0 auto;
    translate: 70px;
  }
}

.tag-select {
  margin-bottom: 15px;
  width:100%;
  background-color:transparent;
}
.tag-select .css-yk16xz-control {
  border:0px;
  border-bottom:1px solid var(--inputColor);
  border-radius:0px;
}
@media all and (max-width:900px) {
  .Loupe h2::after, .Loupe h2::before {
    display:none;
  }
}