.send-form-recipe {
    max-width:960px;
    margin:auto;
}
.form-recipe {
    padding:50px 0;
}
.form-recipe input, .form-recipe textarea {
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 0px;
    border-bottom: 1px solid var(--inputColor);
    text-align: left;
    background-color: transparent;
}
.form-recipe textarea {
    height:100px;
}
.form-recipe label {
    display:none;
}
.author-id {
    display:flex;
}
.author-username, .author-mail {
    width:calc(50% - 10px);
}
.author-username {
    margin-right:10px;
}
.author-mail {
    margin-left:10px;
}
.form-recipe h2 {
    margin-bottom:50px;
}