.small-recipe-container {
  width: 300px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 20px;
}
.small-recipe-global-container {
  position: relative;
}
.small-recipe-container:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.small-recipe-container .small-reciper-banner-image {
  width: 100%;
  height: 110px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.small-recipe-content-container {
  padding: 20px;
}
.small-recipe-title {
  font-size: 21px;
  text-align: center;
  margin-top: 6px;
  color:var(--accentColor);
}
.small-recipe-intro {
  text-align: justify;
  margin-top: 1rem;
}
.small-recipe-favorite-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 30px;
  top: 30px;
  background-position: center;
  background-size: cover;
  z-index: 99999999;
  cursor: pointer;
}
.link-recette {
  color: black;
}
.link-recette:hover {
  text-decoration: none;
  color: black;
}
.read-more {
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  transition: all 0.2s ease-in-out;
  font-family: var(--fourthFont);
  border: 1px solid var(--transparent);
  position: relative;
  overflow: hidden;
  z-index: 99;
  background-color:var(--accentColor);
}
.read-more:hover {
  color: var(--accentColor);
  border: 1px solid var(--accentColor);
  background-color:white;
}
.read-more:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: var(--accentColor);
  z-index: -1;
}
.read-more:hover:after {
  width: 100%;
}
.read-more p {
  margin-bottom: 0px;
}
