.desktop-top-nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:50px;
}

.desktop-top-nav-bar p {
  margin: 20px 10px;
  font-weight: 500;
}

.desktop-top-nav-bar a {
  color: black;
}

.desktop-top-nav-bar a:hover {
  text-decoration: none;
  color: var(--accentColor);
}
.desktop-top-nav-bar a:nth-last-of-type(1) {
    background-color: #bf1920;
    color: white;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    height: 50px;
    display: flex;
    align-items: center;
}
.desktop-top-nav-bar a:nth-last-of-type(1):hover {
    background-color:white;
    border:1px solid #bf1920;
    color:#bf1920;
}
