@import 'https://fonts.googleapis.com/css2?family=Pacifico&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato&display=swap';

:root {
    --accentColor:#008d36;
    --lightAccentColor: #33a45e;
    --secondColor:#f18c06;
    --darkColor:#1d1d1b;
    --font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Pacifico', cursive,'Barlow Semi Condensed', sans-serif;
    --primaryFont: 'Pacifico', cursive;
    --secondaryFont:'Barlow Semi Condensed';
    --thirdFont: 'Roboto', sans-serif;
    --fourthFont : 'Lato', sans-serif;
    --inputColor: hsl(0,0%,50%);
}



